@font-face {
    font-family: PanamaBold;
    src: local("PanamaBold"), url(/fonts/Panama-Bold.woff) format("woff"), url(/fonts/Panama-Bold.ttf) format("ttf");
}

@font-face {
    font-family: PanamaItalic;
    src: local("PanamaItalic"), url(/fonts/Panama-Italic.woff) format("woff"), url(/fonts/Panama-Italic.woff) format("ttf");
}

@font-face {
    font-family: PanamaRegular;
    src: local("PanamaRegular"), url(/fonts/Panama-Regular.woff) format("woff"), url(/fonts/Panama-Regular.woff) format("ttf");
}

.bgH1 {
    font-family: PanamaRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 60px;
    padding-top: 2px;
}

.artH1 {
    font-family: PanamaItalic;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    padding-left: 3px;
    padding-top: 2px;
}

.artNumH1 {
    font-family: PanamaItalic;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 2px;
}

body {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* .header {
    position: absolute;
    z-index: 2;
    background-color: #808080;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
} */


/* #fullDiv {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

#fullImg {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

#partsDiv {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

#partOfImg {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    display: flex-inline;
    margin: 0 auto;
    border: none;
} */

.header {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    height: 30px;
    background: #F1F1F1;
    border-bottom: 1px solid #A0A0A0;
}

img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    cursor: wait;
    @media screen and (max-width: 640px) {
        img.bg {
            left: 50%;
            margin-left: -320px;
        }
    }
}

.partImg {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin-top: 30px;
}

.imageFromTheSameCollection {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin-top: 30px;
}

.fullImg {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.mainDiv {
    display: inline-flex;
    padding: 50px;
}

.projectDescription {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}