@font-face {
    font-family: PanamaBold;
    src: local("PanamaBold"), url(/fonts/PanamaBold.otf);
}

@font-face {
    font-family: PanamaItalic;
    src: local("PanamaItalic"), url(/fonts/PanamaItalic.otf);
}

@font-face {
    font-family: PanamaRegular;
    src: local("PanamaRegular"), url(/fonts/PanamaRegular.otf);
}

.bgH1 {
    font-family: panamaRegular;
    font-size: 24px;
    margin-left: 10px;
}

.artH1 {
    font-family: panamaItalic;
    font-size: 24px;
}

.artNumH1 {
    font-family: panamaBold;
    font-size: 24px;
    margin-left: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* .header {
    position: absolute;
    z-index: 2;
    background-color: #808080;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
} */


/* #fullDiv {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

#fullImg {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

#partsDiv {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

#partOfImg {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    display: flex-inline;
    margin: 0 auto;
    border: none;
} */

.header {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    background: #d8d8d5;
    box-shadow: 1px 1px 20px 0px black;
}

img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    cursor: wait;
    @media screen and (max-width: 640px) {
        img.bg {
            left: 50%;
            margin-left: -320px;
        }
    }
}

.partImg {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin-top: 30px;
}

.fullImg {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.mainDiv {
    display: inline-flex;
    padding: 50px;
}

.projectDescription {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    cursor: pointer;
}